<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="auth-container">
  <div class="auth-card">
    <h2>Create Account</h2>
    <p class="subtitle">Join us in just one step</p>
    <% if (typeof error !== "undefined") { %>
  <div class="error"><%= error %></div>
<% } %>

    <form method="post">
      <input name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <button class="primary-btn">Sign Up</button>
    </form>

    <div class="divider">OR</div>

    <div class="social-login">
      <button class="google">
        <img src="https://www.svgrepo.com/show/475656/google-color.svg">
        Sign up with Google
      </button>
      <button class="facebook">
        <img src="https://www.svgrepo.com/show/475647/facebook-color.svg">
        Sign up with Facebook
      </button>
    </div>
  </div>

  <div class="auth-footer">
    Already have an account?
    <a href="/login">Log in</a>
  </div>
</div>

</body>
</html>
